### BY : JAINEEL PARMAR

### TASK 4 : Exploratory Data Analysis - Retail (GRIP - The Spark Foundation)

● Perform ‘Exploratory Data Analysis’ on dataset ‘SampleSuperstore’

● As a business manager, try to find out the weak areas where you can work to
make more profit.

● What all business problems you can derive by exploring the data?

### Importing all the required libraries

In [1]:
import pandas as pd 
from pandas import DataFrame
import numpy as np

### Loading the data

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df = pd.read_csv('MYSampleSuperstore.csv')
print(df.head())

          Category             City        Country  Discount  \
0        Furniture  Fort Lauderdale  United States      0.45
1  Office Supplies       Fort Worth  United States      0.80
2  Office Supplies       Fort Worth  United States      0.80
3        Furniture     Philadelphia  United States      0.30
4        Furniture     Philadelphia  United States      0.50

   Number of Records  Postal Code     Profit  Quantity      Sales  \
0                  1        33311  -383.0310         5   957.5775
1                  1        76106  -123.8580         5    68.8100
2                  1        76106    -3.8160         3     2.5440
3                  1        19140    -1.0196         2    71.3720
4                  1        19140 -1665.0522         7  3083.4300

       Segment       Ship Mode         State Sub-Category
0     Consumer  Standard Class       Florida       Tables
1  Home Office  Standard Class         Texas   Appliances
2  Home Office  Standard Class         Texas      Binders
3     Consumer    Second Class  Pennsylvania       Chairs
4     Consumer  Standard Class  Pennsylvania    Bookcases

### Here, we are just going to select only the required columns we need.

In [3]:
x = df[['Ship Mode', 'Segment', 'Category', 'Sub-Category', 'State', 'City', 'Sales', 'Quantity', 'Discount', 'Profit']]
print(x.head())

        Ship Mode      Segment         Category Sub-Category         State  \
0  Standard Class     Consumer        Furniture       Tables       Florida
1  Standard Class  Home Office  Office Supplies   Appliances         Texas
2  Standard Class  Home Office  Office Supplies      Binders         Texas
3    Second Class     Consumer        Furniture       Chairs  Pennsylvania
4  Standard Class     Consumer        Furniture    Bookcases  Pennsylvania

              City      Sales  Quantity  Discount     Profit
0  Fort Lauderdale   957.5775         5      0.45  -383.0310
1       Fort Worth    68.8100         5      0.80  -123.8580
2       Fort Worth     2.5440         3      0.80    -3.8160
3     Philadelphia    71.3720         2      0.30    -1.0196
4     Philadelphia  3083.4300         7      0.50 -1665.0522

In [4]:
# print(len(x))
# print(len(x[x['Ship Mode'] == 'Standard Class']))
# print(len(x[x['Ship Mode'] == 'First Class']))
# print(len(x[x['Ship Mode'] == 'Second Class']))
# print(len(x[x['Ship Mode'] == 'Same Day']))

In [6]:
# Real purchase price by seller
x['Exact Price'] = x['Sales'] - x['Profit']
# print(x.head())

# Price per Quantity after getting the real purchase price
x['Per Quantity Price After'] = x['Exact Price'] / x['Quantity']
# print(x.head())

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:

x['Profit'].tolist()
x['Exact Price'].tolist()

z = []

for i in range(0, len(x['Profit'] - 1)):

    if (x['Profit'][i] <= 0) and (x['Profit'][i] >= -100):
        z.append(x['Exact Price'][i] + 180)

    elif (x['Profit'][i] <= -101) and (x['Profit'][i] >= -500):
        z.append(x['Exact Price'][i] + 600)

    elif (x['Profit'][i] <= -500):
        z.append(x['Exact Price'][i] + 1000)
    else:
        z.append(x['Exact Price'][i] + 100)

print(len(z))



### OR YOU CAN ALSO USE (ZIP) FUNCTION

# z = []

# for a, b in zip(x['Profit'], x['Exact Price']):

#     if (a <= 0) and (a >= -100):
#         z.append(b + 180)

#     elif (a <= -101) and (a >= -500):
#         z.append(b + 600)

#     elif (a <= -500):
#         z.append(b + 1000)
#     else:
#         z.append(b + 100)

# print(len(z))

1936

In [13]:
# Merging two Dataframes
new = DataFrame(z, columns=['New Price'])

# print(x.head())
# print(new.head())

In [14]:
MYNEW = pd.concat([x, new], axis=1)
# print(MYNEW.head())

In [15]:
# Replace the Discount for only 5%.
MYNEW['Discount'] = MYNEW['Discount'].replace(MYNEW['Discount'], 0.05)

In [16]:
# New Discount Price 
MYNEW['New Discount Price'] = MYNEW['New Price'] * MYNEW['Discount']

In [17]:
# New Profit
MYNEW['NEW PROFIT'] = (MYNEW['New Price'] - MYNEW['Exact Price']) - MYNEW['New Discount Price']

In [19]:
# New Profit per quantity
MYNEW['New Profit per quantity'] = MYNEW['NEW PROFIT'] / MYNEW['Quantity']

In [20]:
print(MYNEW.head())

        Ship Mode      Segment         Category Sub-Category         State  \
0  Standard Class     Consumer        Furniture       Tables       Florida
1  Standard Class  Home Office  Office Supplies   Appliances         Texas
2  Standard Class  Home Office  Office Supplies      Binders         Texas
3    Second Class     Consumer        Furniture       Chairs  Pennsylvania
4  Standard Class     Consumer        Furniture    Bookcases  Pennsylvania

              City      Sales  Quantity  Discount     Profit  Exact Price  \
0  Fort Lauderdale   957.5775         5      0.05  -383.0310    1340.6085
1       Fort Worth    68.8100         5      0.05  -123.8580     192.6680
2       Fort Worth     2.5440         3      0.05    -3.8160       6.3600
3     Philadelphia    71.3720         2      0.05    -1.0196      72.3916
4     Philadelphia  3083.4300         7      0.05 -1665.0522    4748.4822

   Per Quantity Price After  New Price  New Discount Price  NEW PROFIT  \
0                  268.1217  1940.6085           97.030425  502.969575
1                   38.5336   792.6680           39.633400  560.366600
2                    2.1200   186.3600            9.318000  170.682000
3                   36.1958   252.3916           12.619580  167.380420
4                  678.3546  5748.4822          287.424110  712.575890

   New Profit per quantity
0               100.593915
1               112.073320
2                56.894000
3                83.690210
4               101.796556

In [21]:
Sel_col = MYNEW[['Ship Mode', 'Segment', 'Category', 'Sub-Category', 'State', 'City', 'New Price', 'Quantity', 'Discount', 'New Discount Price', 'NEW PROFIT', 'New Profit per quantity']]

In [22]:
Sel_col.to_csv('sam_store.csv')

### PROBLEM SOLVED